.App {
  text-align: center;
}


.App-header {
  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-content: space-around;
}

.App-link {
  color: #61dafb;
}

#item {
  border: 1px solid gray;
  display: flex;
  justify-content: space-between;

}

.complete {
  color: red;
  text-decoration: line-through;

}